* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
max-width: 1140px;
margin: 0 auto;
width: 100%;
padding: 0 15px;
}

.logo {
  font-size: 48px;
}

/* HEADER */
.header {
  padding: 20px 0;
  font-family: "Playfair Display", sans-serif;
  background: #012D63;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;  
  color: white;
  font-family: "Roboto", sans-serif;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;  
  color: #C7C7C7;
  font-size: 14px;
}

/* HERO */
.hero {
  background: url(./img/Hero.png)
   no-repeat;
   background-size: cover;
   background-position: center;
  padding: 290px 0;
   font-family: "Playfair Display", sans-serif;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text h1 {
  font-size: 64px;
}

.hero-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero-text p {
  width: 420px;
  margin-bottom: 30px;
}

.hero-text button {
  padding: 12px 30px;
  background-color: #8E32C6;
  border: none;
  color: white;
  cursor: pointer;
}


/* BENEFITS */
.benefits {
  padding: 100px 0;
  margin: 2px 0;
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  background: url(./img/Group\ 8\ 1.png)
  no-repeat;
  background-size: cover;
}

.benefits-box {
  display: flex;
  justify-content: space-between;
  border: 1px solid #7f5cff;
  padding: 40px;
}

.benefit {
  text-align: center;
}

/* REVIEWS */
.reviews {
  padding: 100px 0;
  margin: 2px 0;
  text-align: center;
  background: url(./img/Цветы.png) no-repeat, url(./img/Group\ 6\ 1.png)
  no-repeat;
  background-size: 18%, cover;
  background-position: bottom left -6%, center;
  font-family: "Playfair Display", sans-serif;
}

.reviews-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.review-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 951px;
  width: 100%;
  margin: 0 auto;
}

.reviews h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

.card {
  width: 255px;
  height: 292px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
   flex-direction: column;
 justify-content: space-between;
}

.card-top {
display: flex;
flex-direction: column;
margin: 19px;
}

.card:nth-child(1) {
background: linear-gradient(135deg, #00E5E6 7%, #00A8F7 26%, #9A76F9 63%, #CC5EC2 100%);
}

.card:nth-child(2) {
 background: linear-gradient(135deg, #FF68B4 0%, #FF45E1 26%, #CE3AFF 63%, #8961FF 100%); 
}

.card:nth-child(3) {
 background: linear-gradient(135deg, #FFE128 0%, #FF9B5C 30%, #FF8381 63%, #FF5489 100%);
}

.review-img {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  display: flex;
  margin: 0;
  justify-content: end;
  gap: 40px;
  flex-direction: column-reverse;
}

.date-1 {
  font-size: 14px;
  color: #D8D8D8;
  display: flex;
  justify-content: left;
}

.date-2 {
  font-size: 12px;
  color: #D8D8D8;
}

/* ORDER */
.order {
  padding: 80px 0;
  text-align: center;
  background: url(./img/Group\ 2\ 1.png)
  no-repeat;
  background-size: cover;
  font-family: "Playfair Display", sans-serif;
}

.order-box {
  width: 400px;
  margin: 0 auto;
}

.order-box input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.order-box button {
  padding: 12px 30px;
  background-color: #8E32C6;
  color: white;
  border-radius: 8px;
}

/* FOOTER */
.footer {
  background-color: #0b1533;
  padding: 60px 0;
  font-family: "Playfair Display", sans-serif;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff;
  font-size: 14px;
}

.footer__left p {
  margin-bottom: 10px;
}

.footer__copy {                                                               
  margin-top: 20px;

}

.footer__right {
  text-align: right;
}

.footer__right p {
  margin-bottom: 10px;
}

.footer__logo {
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
}