:root {
--benefits-border-color: #8E32C6;
--general-color-1: #FFFFFF;
--general-color-2: #012D63;
--footer-color: #0b1533;
--grey-color-1: #C7C7C7;
--grey-color-2: #d8d8d8;
--grey-color-3: #8d8d8d;
--linear-gradient-1: linear-gradient(135deg, #00E5E6 7%, #00A8F7 26%, #9A76F9 63%, #CC5EC2 100%);
--linear-gradient-2: linear-gradient(135deg, #FF68B4 0%, #FF45E1 26%, #CE3AFF 63%, #8961FF 100%);
--linear-gradient-3: linear-gradient(135deg, #FFE128 0%, #FF9B5C 30%, #FF8381 63%, #FF5489 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--general-color-1);
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
max-width: 1140px;
margin: 0 auto;
width: 100%;
padding: 0 15px;
}

.logo {
  font-size: 48px;
}

/* HEADER */
.header {
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
  background: var(--general-color-2);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;  
  color: var(--general-color);
  font-family: "Roboto", sans-serif;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;  
  color: var(--grey-color);
  font-size: 14px;
}

.language {
  display: flex;
  align-items: center;
}

/* HERO */
.hero {
  color: var(--general-color-1);
  background: url(./img/hero.png)
   no-repeat;
   background-size: cover;
   background-position: center;
  padding: 80px 0;
   font-family: "Playfair Display", sans-serif;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-img-2 {
  width: 160px;
  height: 120px;
}

.hero-text h1 {
  font-size: 144px;
}

.hero-text h2 {
  font-size: 72px;
  margin-bottom: 20px;
}

.hero-text p {
  width: 420px;
  margin-bottom: 30px;
  font-size: 18px;
}

.hero-text button {
  font-size: 24px;
  width: 254px;
  height: 67px;
  background-color: var(--benefits-border-color);
  color: var(--general-color-1);
  cursor: pointer;
  border-radius: 10px;
}


/* BENEFITS */
.benefits {
  padding: 100px 0;
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  background: url(../img/background\ 3.png)
  no-repeat;
  background-size: cover;
}

.benefits-box {
  display: flex;
  justify-content: space-between;
  border: 5px solid var(--benefits-border-color);
  padding: 40px;
}

.benefit {
  text-align: center;
  position: relative;
}

.benefit:nth-child(1)::after {
  content: "";
  position: absolute;
  right: -50px;
  height: 346px;
  width: 1px;
  background-color: var(--general-color-1);
  top: 0px;
}

.benefit:nth-child(3)::after {
  content: "";
  position: absolute;
  left: -50px;
  height: 346px;
  width: 1px;
  background-color: var(--general-color-1);
  top: 0px;
}

/* REVIEWS */
.reviews {
  padding: 100px 0;
  margin: 2px 0;
  text-align: center;
  background: url(../img/Квіти.png) no-repeat, url(../img/backgraund\ 2.png)
  no-repeat;
  background-size: 18%, cover;
  background-position: bottom left -6%, center;
  font-family: "Playfair Display", sans-serif;
}

.reviews-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.review-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 951px;
  width: 100%;
  margin: 0 auto;
}

.reviews h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

.card {
  width: 255px;
  height: 292px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
   flex-direction: column;
 justify-content: space-between;
}

.card-top {
display: flex;
flex-direction: column;
margin: 19px;
}

.card:nth-child(1) {
background: var(--linear-gradient-1);
}

.card:nth-child(2) {
 background: var(--linear-gradient-2); 
}

.card:nth-child(3) {
 background: var(--linear-gradient-3);
}

.review-img {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  display: flex;
  margin: 0;
  justify-content: end;
  gap: 40px;
  flex-direction: column-reverse;
}

.img-text {
display: flex;
justify-content: flex-start;
gap: 5px;
}

.date-1 {
  font-size: 14px;
  color: var(--grey-color-2);
  display: flex;
  justify-content: left;
}

.date-2 {
  font-size: 12px;
  color: var(--grey-color-2);
}

/* ORDER */
.order {
  padding: 80px 0;
  text-align: center;
  background: url(../img/background\ 1.png)
  no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.order h2 {
  font-size: 48px;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
}

.order-box {
  width: 580px;
  margin: 0 auto;
  font-size: 24px;
}

.order-box input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 50px;
  border: none;
}

.order-email {
width: 690px;
height: 60px;
display: flex;
justify-content: center;
margin-left: -50px;
font-size: 28px;
position: relative;
}

.order-email::after {
content: "Confirm";
position: absolute;
display: block;
bottom: 20px;
left: 500px;
color: var(--grey-color-3);
}

.order-box button {
  padding: 12px 30px;
  background-color: var(--benefits-border-color);
  color: var(--general-color-1);
  border-radius: 16px;
}

/* FOOTER */
.footer {
  background-color: var(--footer-color);
  padding: 50px 0;
  font-family: "Roboto", sans-serif;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--general-color);
  font-size: 24px;
}

.footer__left::after {
  content: "";
  display: block;
  width: 555px;
  height: 1px;
  background-color: var(--general-color-1);
  margin-top: -85px;
}

.footer__left p {
  margin-bottom: 10px;
}

.footer__copy {                                                               
  margin-top: 20px;
  font-size: 18px;
}

.footer__right::after {
  content: "";
  display: block;
  width: 555px;
  height: 1px;
  background-color: var(--general-color-1);
  margin-top: -3px;
}

.footer__logo {
  margin-top: 30px;
  font-size: 24px;
  font-family: "PT Serif", serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 100px;
  position: relative;
  right: 100px;
}

.footer__logo::before {
  content: "";
  display: block;
  width: 108px;
  height: 81px;
  background: url(../img/logo.png);
  margin-bottom: -10px;
}

footer img {
  width: 108px;
  height: 81px;
  position: absolute;
  display: block;
  right: 80px;
  margin-left: auto;
}

footer a {
  color: var(--general-color-1);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  right: 150px;
  text-align: right;
}
